.shiyong_main {
    text-align: center;
}
.shiyong_main>.free_1 {
    margin: 42px 0;
    font-size: 37px;
    color: #202e3b;
}
.free_2 {
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    text-align: center; 
}
.free_2_1 {
    list-style: none;
    width: 350px;
    margin: 0 auto;
    text-align: center;
} 
.free_2_1 li {
    float: left;
    padding: 0px 48px 9px 48px;
    font-size: 16px;
    color: #bfb6d3;
    cursor: pointer;
}
.free_2_1>.li_active_1 {
    border-bottom: 4px solid #fe5339;
    color: #fe5339;
}
.free_2_1>.da{
    color: red;
    border-bottom: 4px solid #fe5339;
}
.free_3_1 {
    list-style: none;
    width: 545px;
    margin: 0 auto;
}
.free_3_1>.quanbu{
    color: #000;


}
.free_3_1 li {
    float: left;
    padding: 16px 4px;
    margin-right: 112px;
    font-size: 16px;
    color: #bfb6d3;
    cursor: pointer;
}
.free_3_1 li:nth-child(4) {
    margin-right: 0px;
}
.free_3_1>.li_active_2 {
    color: #393532;
}
.free_4 {
    background-color: #f7f7f7;
}
.free_4>.free_4_1 {
    width: 1000px;
    margin: 0 auto;
    padding-top: 27px;
}
.free_4_1>ul {
    list-style: none;
    width: 1000px;
    overflow: hidden;
}
.free_4_1>ul>li{
    width: 210px;
    height: 260px;
    float: left;
    border: 1px solid;
    margin-right: 48px;
    margin-top: 20px;
    position: relative;
}

.free_4_1>ul>li>img{
    width: 100%;
    height: 140px;
}
.free_4_1>ul>li>:last-child{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    background-color: red;
    color: #fff;
    padding: 3px;
}
#free_list li:nth-of-type(4n+4) {
    margin-right: 0px;
}
#free_more_more li:nth-of-type(4n+4) {
    margin-right: 0px;
}
li img:hover{
    transform: scale(1.1);
}

.footer_return>img{
    margin-top: 13px;
    margin-left: 3px;
}